.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header__main {
  margin-bottom: 30px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col_align-right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 80px;
}

.menu {
  display: flex;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}

.menu__item_active .menu__link {
  color: #DA0100;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  transition: 0.6s ease-out;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  font-style: normal;
  text-align: right;
}
.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  font-size: 13px;
  cursor: pointer;
}




/* dropdown menu */

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  right: 0;
  opacity: 1;
}

.dropdown__menu {
  position: absolute;
  background: url(../../img/bg_dropdown.svg) center / contain no-repeat;
  text-align: left;
  padding: 24px 18px 18px;
  top: 100%;
  right: -55555px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.dropdown__item {
  font-size: 13px;
  font-weight: 600;
  color: #1E1F20;
}