.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_theme-light .pagination__link:hover {
  background-color: #F5170E;
  color: #FFF;
}

.pagination__display {
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;

}
.pagination__item_active .pagination__link {
  background-color: #FFF;
  color:#F5170E;
}

.pagination__link:hover {
  background-color: #FFF;
  color:#F5170E;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  transition: 0.3s ease-in;
}